<div class="modal-content">
  <div class="modal-header">
    <div class="row" style="margin-left: 3px">
      <h4 class="modal-title" style="color: #0069d9;margin-right: 2px">User account</h4>
      <i class="fa fa-pencil" style="font-size: 20px; color: #0069D9; padding-left: 5px" (click)="modifycontent = true"></i>
    </div>
    <i type="button" class="fa fa-times-circle" aria-label="Close" style="float: right;color: #0069d9; font-size: 30px" (click)="activeModal.dismiss('Cross click')">
    </i>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <LABEL>Welcome!</LABEL>
        <br>
        <label *ngIf="!modifycontent">Name : {{inputUser}}</label>
        <form #form="ngForm">
          <div class="form-group create-div">
        <label *ngIf="modifycontent">
          <input type="text" name="username" class="form-control" placeholder="{{inputUser}}" [ngModel]="username" required>
        </label>
          </div>
        </form>
      </div>
      <div class="col-6">
        <img src="../../../assets/img/User_icon.png" width="100px" height="100px" style="margin-left: 90px" />
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="modifycontent" type="button" class="btn" (click)="modify(form)">Save</button>
    <button type="button" class="btn" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>
