<div class="modal-content">
  <div class="modal-header">
    <div class="row" style="margin-left: 3px">
      <h4 class="modal-title" style="color: #0069d9;margin-right: 2px">Information</h4>
      <i class="fa fa-question-circle fa-2x" style="color: #0069d9"></i>
    </div>
    <i type="button" class="fa fa-times-circle" aria-label="Close" style="float: right;color: #0069d9; font-size: 20px" (click)="activeModal.dismiss('Cross click')">
    </i>
  </div>
  <div class="modal-body">
    <label>Are you sure you want to download this test in PDF format?</label>
  </div>
  <div class="modal-footer">
    <i type="button" class="fa fa-check" style="float: left; color: limegreen;font-size: 20px;padding-right: 5px " (click)="downloadPDF()">Download</i>
    <i type="button" class="fa fa-times" style="color: red;font-size: 20px"  (click)="activeModal.close('Close click')">Close</i>
  </div>
</div>

