<form [formGroup]="questionForm" style="overflow: auto;">
    <textarea formControlName="questionText" class="form-control" rows="5"></textarea>
    <br>
    True
    <br>
    <div formArrayName="answers">
        <div *ngFor="let ans of answers.controls; let i = index" [formGroupName]="i" class="formGroup">

            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" formControlName="IsCorrect"/>
                    </div>
                </div>
                <input formControlName="Text" type="text" class="form-control" placeholder="Answer">
                <input formControlName="Score" style="max-width: 20%" class="form-control">
            </div>
        </div>
    </div>
    <p>
        <button (click)="edit(questionForm.value, questionIndex)">Save</button>
        <button (click)="addEmptyAnswer()">+</button>
    </p>

</form>