<div class="row">
  <div class="col-6" style="text-align: left">
    <strong><label style="font-size: 35px">Test {{this.exTest.Title}}</label></strong>
  </div>
  <div class="col-6" style="text-align: right;text-justify: auto">
    <i class="fa fa-chevron-left fa-2x" [routerLink]="['../../testList']" title="Go Back"></i>
  </div>
</div>
<hr />
<br />
<div id="testContentStats">
  <label>Test Subject: <strong  style="color: deeppink">{{ this.exTest.TestSubject}}</strong></label> |
  <label>Score: <strong style="color: darkblue">{{this.exTest.Score}} / {{this.exTest.MaxScore}}</strong></label>
</div>

<div class="container col-8">
  <div *ngFor="let question of this.exTest.AdministratedQuestions; let i = index" class="testContentRow">
    <div>
      <div id="divQuestionForm">
        <strong>Domanda {{i+1}}</strong>
      </div>
      <hr />
      <p>{{question.Text}}</p>
      <br>
      <div id="answersList">
        <li type="a" *ngFor="let answer of question.AdministratedAnswers">
          <label *ngIf="answer.isSelected == false && answer.isCorrect == 2">{{answer.Text}}</label>
          <label *ngIf="answer.isSelected == true && answer.isCorrect == 2" style="background-color: red">{{answer.Text}}</label>
          <label *ngIf="answer.isSelected == true && answer.isCorrect == 1" style="background-color: green">{{answer.Text}}</label>
          <label *ngIf="answer.isSelected == false && answer.isCorrect == 1" style="background-color: green">{{answer.Text}}</label>
        </li>
      </div>
    </div>
    <br>
  </div>
</div>
