<div class="row">
  <div class="col-6">
    <div class="pageTitle">
      <h1 id="pageTitle">Test: {{this.exTest?.Title}}</h1>
    </div>
  </div>
  <div class="col-6" style="text-align: right;text-justify: auto; padding-top: 30px">
    <fa-icon id="goBackIcon" class="action" style="font-size: 25px;padding-bottom: 2px;color: #0069D9" [icon]="icons.faSignInAlt" title="Go back" [routerLink]="['../../testList']"></fa-icon>
  </div>
</div>
<hr />
<br />
<div id="testContentStats">
  <label>Test Subject: <strong  style="color: black">{{ this.exTest.TestSubject}}</strong></label> |
  <label>Score: <strong style="color: black">{{this.exTest.Score}} / {{this.exTest.MaxScore}}</strong></label>
</div>

<div class="container col-8">
  <div *ngFor="let question of this.exTest.AdministratedQuestions; let i = index" class="question__card" id="exquestionh">
    <div>
      <div id="divQuestionForm">
        <strong>Domanda {{i+1}}</strong>
      </div>
      <hr />
      <p>{{question.Text}}</p>
      <hr>
      <div id="answersList">
        <li type="a" *ngFor="let answer of question.AdministratedAnswers">
          <label *ngIf="answer.isSelected == false && answer.isCorrect == 2">{{answer.Text}}</label>
          <label *ngIf="answer.isSelected == true && answer.isCorrect == 2" style="background-color: red">{{answer.Text}}</label>
          <label *ngIf="answer.isSelected == true && answer.isCorrect == 1" style="background-color: green">{{answer.Text}}</label>
          <label *ngIf="answer.isSelected == false && answer.isCorrect == 1" style="background-color: green">{{answer.Text}}</label>
        </li>
      </div>
    </div>
    <br>
  </div>
</div>
