<div class="container">
  <div class="row question-row">
    <div class="col-6">
      <h2>Questions</h2>
    </div>
    <div class="col-6 div-set-visibility">
      <button class="btn btn-outline-success" [disabled]="enable" (click) = "showQuestionForm()"><i class="fa fa-plus"></i></button>
    </div>
  </div>
  <div *ngIf="test.Questions.length > 0" class="drag-drop-list" (cdkDropListDropped)="onDrop($event)" cdkDropList>
    <div class="drag-drop-box" *ngFor="let question of test.Questions" cdkDrag>
      {{question.Position + 1}}) {{question.Text}}
    </div>
  </div>
</div>

