.testContentRadio {
    background-color: white;
}

.testContentRow {
    border-radius: 25px;
    border: 2px solid grey;
    background-color: #ffff99;
    padding: 25px;
}
.finishButton{
    /*float:right;*/
    text-align:center;
}
.sidenav {
    height: 100%;
    width: 5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2F00FC;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 5% 8% 50% 32%;
    position: relative;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#unikeyLogo {
    max-width: 100%;
    height: auto;
    margin-bottom: 30%;
}

#logOut {
    max-width: 65%;
    height: auto;
}

#manage {
    max-width: 65%;
    height: auto;
}

#create {
    max-width: 70%;
    height: auto;
}

#results {
    max-width: 90%;
    height: auto;
}

.sidebarIcon {
    color: #818181;
    filter: brightness(48%);
    transition: 0.3s;
}

.sidebarIcon:hover {
    filter: brightness(100%);
}

#pageSizeDropDownList {
    float: right;
}

#backIcon {
    max-width: 5%;
    height: auto;
    float: right;
}

#editIcon {
    float: right;
    max-width: 3%;
    height: auto;
}

#deleteIcon {
    float: right;
    height: auto;
    max-width: 4%;
}

.startContainer {
    border-radius: 5px;
    border: black 1px solid;
    padding: 20px;
    background-color: cornflowerblue;
    width: 400px;
    text-align: center;
}

.logo {
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px;
    margin-left: 43%;
    text-align: center;
    width: 170px;
    height: 100px;
}

.PreviousButton{
    border: 1px solid black;
}
.NextButton {
    border: 1px solid black;
}

.QuestionContainer {
    background-color: darkcyan;
    border-radius: 8px;
    border: black 1.5px solid;
    width: 500px;
    text-align: center;
    margin: auto;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


#Question {
    font-size: 20px;
    color: white;
}

.AnswerLabel {
    width: 90%;
}


.SaveButton {
    margin-bottom: 20px;
}


.Title {
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.RadioInput {
}

hr {
    margin-top: 2px;
}

.answer {
    background-color: cyan;
    padding: 10px 10px 5px 10px;
    margin-bottom: 10px;
}
    .answer:hover {
        background-color: cyan;
        padding: 10px 10px 5px 10px;
        margin-bottom: 10px;
        box-shadow: black 1px 1px 10px;
    }
.hoveredAnswer {
    background-color: cyan;
    padding: 10px 10px 5px 10px;
    margin-bottom: 10px;
    box-shadow: black 1px 1px 10px;
}

.AnswerHr {
    margin: 0px;
}

.AnswerContainer {
    width: 300px;
    margin: auto;
}

.myButton {
    color: black;
}

.myButton:hover {
    box-shadow: black 1px 1px 20px;
    height: 45px;
    width: 80px;
}

.myLabel {
    width: 100px;
    text-align: right;
}

.myForm {
    text-align: center;
}

.myInput {
    border: black 1px solid;
    border-radius: 5px;
}

.buttonDiv {
    text-align: center;
}

#testContentStats {
    margin: auto;
    text-align: center;
}

#searchinput {
    width: 200px;
}

#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}