<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="mailModalLabel">Send the test through email</h5>
    <i type="button" class="fa fa-times" aria-label="Close" style="font-size: 30px; color: #0069d9" (click)="activeModal.close()">
    </i>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div class="form-group">
        <input [pattern]="emailValidator" class="form-control" placeholder="example@mail.com" required [ngModel]="email.Email" name="email">
      </div>
      <div class="form-group">
        <label class="col-form-label">Subject name:</label>
        <input type="text" class="form-control" id="subject-name" required [ngModel]="email.Name" name="name">
      </div>
      <div class="modal-footer">
        <button type="button" class="welcomeMessage" (click)="activeModal.close()">Close</button>
        <button [disabled]="form.invalid || emailSent" type="submit" (click)="sendEmail(form)" class="btn btn-primary">Send email</button>
      </div>
    </form>
  </div>

  <div>
  </div>
  <div>
    <label *ngIf="emailSent" id="true" style="text-align: right; margin-left: 10px;color: green"> Sending successful</label>
  </div>
  <div>
    <label *ngIf="emailError" id="false" style="text-align: right;margin-left: 10px;color: red;"> Error while sending</label>
  </div>
</div>
