.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-content {
  display: table;
  overflow-wrap: break-word;
}
.welcomeMessage {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background: #ededed linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  border-radius:11px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color: #636363;
  font-family:Arial;
  font-size:17px;
  font-weight:bold;
  padding:9px 34px;
  text-decoration:none;
  text-shadow:0px -1px 0px #ffffff;
}
.welcomeMessage:hover {
  background: #dfdfdf linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}
.welcomeMessage:active {
  position:relative;
  top:1px;
}
i:hover{
  cursor: pointer;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
.actions:hover {
  color: darkblue;
  cursor: pointer;
  box-shadow: #211b19;
}

.actions{
  color: #0069D9;
  font-size: 1.2em;
}
.btnn {
  padding: 0.1rem 0;
  width: 6rem;
  height: 40px;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  text-decoration: none;
  color: #56a5eb;
  background-color: white;
}

.btnn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
.icon:hover {
  color: darkblue;
  cursor: pointer;
  transform: translateX(1mm);
  transition: transform 150ms;
}

.icon{
  color: #0069D9;
  font-size: 20px;
  padding-bottom: 2px;
}
th{
  background-color: #0069D9 !important;
}
