<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{myModalTest.Title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table">
      <tr class="thead-dark">
        <th class="text-center">#</th>
        <th class="text-center">TestSubject</th>
        <th class="text-center">Score/MaxScore</th>
        <th class="text-center">State</th>
        <th class="text-center">Actions</th>
      </tr>
      <tr *ngFor="let exTest of exTests; let i = index">
        <th scope="row">{{i}}</th>
        <td class="text-center">{{exTest.TestSubject}}</td>
        <td class="text-center">{{exTest.Score}}/{{exTest.MaxScore}}</td>
        <td class="text-center">{{exTest.State == 1 || exTest.State == 2 ? 'Opened' : 'Closed'}}</td>
        <td class="text-center">
          <a [routerLink]="['menagetest/', myModalTest.Id]"><i class="fa fa-list"></i></a>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>
