@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
#sidebar .sidebar-header {
  padding: 5px;
  background: #2F00FC;
}
#sidebar ul.components {
  padding: 10px 0;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}
#sidebar ul li a {
  padding: 14px;
  font-size: 1.7em;
  display: block;
}
#sidebar ul li a:hover {
  color: #2F00FC;
  background: #fff;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #2F00FC;
}
a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  min-width: 70px;
  max-width: 70px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #2F00FC;
  color: #fff;
  transition: all 0.3s;
}

.container{
  position: relative;
}

.item{
  position: absolute;
  bottom: 5px;
}

.logout:hover{
  background-color: white;
  color: #2F00FC;
}

.logout{
  background-color: #2F00FC;
}

#LogoUnikey{
  height: 60px;
  width: 60px;
  alt: 0;
  cursor: pointer;
}

#LogoUnikey:hover{
  color: #2F00FC;
}
