
  <div class="container">

    <div *ngIf="errorsList">
      <li class="error" *ngFor="let err of errorsList">{{err[0]}}</li>
    </div>

    <form #form="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" name="userName" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username" #userNameRef="ngModel" required [minlength]="minLength" [maxLength]="maxLength" [ngClass]="{'errorDiv' : userNameRef.errors && (userNameRef.dirty || userNameRef.touched)}" ngModel>
      <small id="usernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div *ngIf="userNameRef.errors && (userNameRef.dirty || userNameRef.touched)">
            <span class="error">Username must be at least {{minLength}} character long</span>
        </div>
    </div>
    <div class="form-group">
      <label for="InputPassword">Password</label>
      <input type="password" class="form-control" name="password" id="InputPassword" placeholder="Enter password" #passwordRef="ngModel" required [pattern]="passwordPattern" [ngClass]="{'errorDiv' : passwordRef.errors && (passwordRef.dirty || passwordRef.touched)}" ngModel>
      <small id="passwordHelp" class="form-text text-muted">La password deve contenere almeno 8 caratteri, almeno un carattere maiuscolo, uno minuscolo, uno speciale e almeno un valore numerico</small>
      <div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)">
        <span class="error">Not a strong password</span>
      </div>
    </div>
    <div class="form-group">
      <label for="RetypedInputPassword">Retyped Password</label>
      <input type="password" class="form-control" name="retyped" id="RetypedInputPassword" placeholder="Retype password" #retypePasswordRef="ngModel" [ngClass]="{'errorDiv' : retypePasswordRef.errors && (retypePasswordRef.dirty || retypePasswordRef.touched)}" [pattern]="passwordRef.value" required ngModel>
    </div>
    <div style="text-align: right">
      <button  type="submit" class="btn btn-primary" (click)="subscribe(form.value)" [disabled]="form.invalid" #submitButton >Subscribe</button>
    </div>
    </form>
  </div>

<br>
<div style="width: 100%; text-align: center">
  <button style="background: none !important; border: none; padding: 0 !important; font-family: arial, sans-serif; color: dodgerblue; text-decoration: underline; cursor: pointer">
    Go to LogIn
  </button>
</div>





