.error {
  color: red;
  font-size: 14px;
}

.errorDiv {
  border: 3px solid rgba(255, 0, 0, .6);
}
.welcomeMessage {
  background: white;
  border-radius:11px;
  border: 0.1rem solid #56a5eb;
  display:inline-block;
  cursor:pointer;
  color: #434343;
  font-family: Arial, sans-serif;
  font-weight:bold;
  padding:9px 34px;
  text-decoration: none;
  text-shadow:0 -1px 0 #ffffff;
}
.welcomeMessage:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transition: transform 150ms;
}
.welcomeMessage:active {
  position:relative;
  top:1px;
}
