.QuestionContainer {
  background-color: darkcyan;
  border-radius: 8px;
  border: black 1.5px solid;
  width: 500px;
  text-align: center;
  margin: auto;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position:relative;
  padding-top:17px;
}

.AnswerContainer {
  width: 600px;
  margin: auto;
}

.answer {
  padding: 10px 10px 5px 10px;
  margin-bottom: 10px;
  font-family: Verdana;
  box-shadow: 2px 4px 4px 0 rgb(95, 95, 95);
}

.AnswerLabel {
  width: 90%;
}

.body-content {
  padding: 15px;
}

.logo {
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 10px;
  margin-left: 43%;
  text-align: center;
  width: 170px;
  height: 100px;
}

.subject{
  font-family: 'Arial Narrow';
}

.Question{
  position:relative;
  margin: auto;
  text-align: center;
  background-color: white;
  color: black;
  font-size: xx-large;
  font-family: Georgia;
}
