<div class="container body-content">
  <!--Subject-->
  <div class="subject">
    <h6 style="font-weight: bold">Assessment of: </h6><h6 style="font-weight: bold;  font-style: italic;font-size: large">{{exTest?.TestSubject}}</h6>
  </div>

  <img src="assets/img/UnikeyLogo.png" class="logo"  alt="Unikey"/>
  <div class="container" style="width:100%;">

    <hr>
    <div class="Question">
     {{exTest?.AdministratedQuestions[i].Text}}
    </div>
    <hr>
      <div class="AnswerContainer">
        <div *ngFor="let answer of exTest?.AdministratedQuestions[i].AdministratedAnswers; let index = index" class="answer" style="margin-bottom:17px">
          <div class="form-check" style="text-align: left">
            <input id="checkbox" type="checkbox" (click)="change(index)"
                                                 [checked]="exTest?.AdministratedQuestions[i].AdministratedAnswers[index].isSelected"
                                                 style="margin-right: 10px;">
            <label for="checkbox">{{answer.Text}}</label>
          </div>
        </div>
      </div>
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-4" style="text-align:right">
          <button *ngIf="isFirst === false" class="btn btn-primary" (click)="previous()">Prev</button>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
          <button *ngIf="isLast === false" class="btn btn-primary" (click)="next()">Next</button>
          <button *ngIf="isLast === true" class="btn btn-success" (click)="end()">End</button>
        </div>
      </div>
    </div>
  </div>
</div>
