<div class="modal-content">
  <div class="modal-header">
    <div class="row" style="margin-left: 3px">
      <h4 class="modal-title" style="color: blue;margin-right: 2px">Information</h4>
      <i class="fa fa-info-circle fa-2x" style="color: blue"></i>
    </div>
    <button type="button" class="close" aria-label="Close" style="float: right" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Are you sure you want to end your test?</label>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" style="float: left; font-weight: bold; color: limegreen " (click)="endPage()"  > Yes</button>
    <button type="button" class="btn btn-outline-dark" style="color: red; font-weight: bold " (click)="activeModal.close('Close click')"  >No</button>
  </div>
</div>
