#testContentStats {
  margin: auto;
  text-align: center;
}

#divQuestionForm {
  display: flex;
}

#dialognotify {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #fde073;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

#answersList {
  padding-left: 15px;
}

#editIcon {
  float: right;
  max-width: 3%;
  height: auto;
  cursor: pointer;
}
#deleteIcon {
    float: right;
    height: auto;
    max-width: 4%;
    cursor: pointer;
}

.testContentRow {
  border-radius: 25px;
  border: 2px solid grey;
  background-color: #ffff99;
  padding: 25px;
  margin-bottom: 40px;
}

#saveTestNotify {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #fde073;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

#errorNotify {
  position: fixed;
  z-index: 101;
  top: 1;
  left: 0;
  right: 0;
  background: #ff6161;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  color: white;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

#goBackIcon {
  cursor: pointer;
  float: right;
}
.pageTitle:before{
  content: "";
  position: absolute;
  top: calc(50% - 6px);
  left: 0;
  right: 0;
  height: 12px;
  background: #a3b8d8;
  z-index: -1;
  opacity: 30%;
}

.pageTitle h1{
  background: white;
  padding: 0 15px;
  margin-left: 20px;
}

#pageTitle{
  background: -webkit-linear-gradient(#9ee4ff, #3404ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Segoe UI Black';

}
