<div>
  <div *ngIf="this.areThereModifies" id="saveTestNotify">Do you want to save changes?&nbsp;&nbsp;<button
    class="btn btn-outline-success btn-sm" (click)="saveChanges(this.test)">Save</button>&nbsp;&nbsp;<button
    class="btn btn-outline-danger btn-sm" (click)="undo()">Undo</button></div>

<div *ngIf="this.isThereAnError" id="errorNotify" role="alert">An error occurred while saving the test
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="isThereAnError=false">
    <span aria-hidden="true">&times;</span>
  </button></div>
</div>
<div class="row">
<div class="col-10">
  <strong><label style="font-size: 35px">Test {{this.test?.Title}}</label></strong>
</div>
  <div class="col-2" style="text-align: right">
    <fa-icon [icon]="icons.faFilePdf" title="CreatePDF" size="2x" (click)="ShowPopUP()"></fa-icon>
  </div>
<hr />
<br />
</div>

<div id="testContentStats">
  <label style="padding-right: 100px"><strong>Number of questions: {{this.test?.Questions?.length}}</strong></label>
  <div class="pull-right">
    <i class="fa fa-copy" (click)="copyText(this.test)" title="Copia Test"></i>
    <br>
    <i class="fa fa-plus" (click)="this.isButtonVisible = !this.isButtonVisible" title="Add Question"></i>
    <br>
    <fa-icon id="goBackIcon" [icon]="icons.faSignInAlt" title="Go back" (click)="goBack()"></fa-icon>
  </div>
</div>

<br>
<div class="container col-8" *ngIf="test">
  <div class="form-group" *ngIf="this.isButtonVisible">
    <app-question-form (questionInsert)="addQuestion($event)"></app-question-form>
  </div>
  <div *ngFor="let question of this.test?.Questions; let i = index" class="question__card" id="questionh">
    <div>
      <div id="divQuestionForm">
        <strong>Question {{i+1}}</strong>
        <hr>
        <fa-icon [icon]="icons.faPencilAlt" (click)="toggle(i)" id="deleteIcon" title="Edit" style="padding-right: 20px"></fa-icon>
        <fa-icon [icon]="icons.faTrash" question="question" (click)="deleteQuestion(i)" id="editIcon" title="Delete" style="padding-left: 10px"></fa-icon>
      </div>
      <hr />
      <div *ngIf="!isEditable[i]">
        <p>{{question.Text}}</p>
        <br>
        <div id="answersList">
          <li type="a" *ngFor="let answer of question.Answers">
            .{{answer.Text}}&nbsp;&nbsp;<fa-icon *ngIf="answer.IsCorrect == 1" style="color: green" [icon]="icons.faCheck"></fa-icon>
          </li>
        </div>
      </div>
      <app-testcontent-edit [question]="question" [questionIndex]="i" *ngIf="isEditable[i]" (editEvent)="edit($event)" (undoEvent)="undo()"></app-testcontent-edit>
      <br>
    </div>
  </div>
</div>
