<div class="main-div">
  <div class="title">
    <h2>Test List</h2>
  </div>
<!--  <div class="create-test-a-div">-->
<!--    <fa-icon [icon]="icons.faPlus" class="btn btn-success create-test-a" (click)="loadCreatePage()" title="Create Test"></fa-icon>-->
<!--  </div>-->
</div>
<div class="alert alert-danger" *ngIf="showDeleteError" >
  <strong>Holy holy maccaroni!</strong> An error occurred while deleting the test
  <button type="button" class="close" aria-label="Close" (click)="closeErrorAlert()">&times;</button>
</div>



<hr>

<div style="display: flex;">
  <div style="float:left;">
    <form #form="ngForm" style="margin-bottom: 10px;" >
      <div class="btn btn-group">
        <input type="search" [ngModel]="textFilter" name="textFilter" class="form-control">
        <span class="glyphicon glyphicon-remove-circle"></span>
        <button type="submit" class="btn btn-primary" (click)="search(form)">Search</button>
      </div>
    </form>
  </div>
  <div style="float: right; margin-left: auto;">
    <div style="margin-top: 5px;">
      <form #form="ngForm">
        <label>Elements per page </label>
        <select (change)="resizePage($event)">
          <option name="pageSize" [value]="option" *ngFor="let option of options">{{option}}</option>
        </select>
      </form>
    </div>
  </div>
</div>
<div class="text-center">
  <fa-icon *ngIf="pageNum > 1" [icon]="icons.faAngleDoubleLeft" class="pointer" style="margin-right: 5px;" (click)="firstPage()" title="First"></fa-icon>
  <fa-icon *ngIf="pageNum > 1" [icon]="icons.faArrowLeft" (click)="previousPage()" class="pointer" style="margin-right: 5px;" title="Previous"></fa-icon>
  <strong><label>{{pageNum}} of {{pages}}</label></strong>
  <fa-icon *ngIf="pageNum < pages" class="pointer" [icon]="icons.faArrowRight" (click)="NextPage()" style="margin-left: 5px;" title="Next"></fa-icon>
  <fa-icon *ngIf="pageNum < pages" [icon]="icons.faAngleDoubleRight" class="pointer" (click)="lastPage()" title="Last" style="margin-left: 5px;"></fa-icon>
</div>
<table class="table">
  <tr>
    <th class="text-center">Id</th>
    <th class="text-center">Title</th>
    <th class="text-center">Date</th>
    <th class="text-center">URL</th>
    <th class="text-center">Number of tests</th>
    <th class="text-center">Number of tests opened</th>
    <th class="text-center"></th>
    <th class="text-center">Actions</th>
  </tr>
  <tr *ngFor="let test of tests | filter:textFilter">
    <td class="text-center">{{test.Id}}</td>
    <td class="text-center">{{test.Title}}</td>
    <td class="text-center">{{test.Date | date: 'dd/MM/yy H:mm'}}</td>
    <td class="text-center">{{test.URL.toString()}}</td>
    <td class="text-center">{{test.NumberOfExTest}}</td>
    <td class="text-center">{{test.OpenedExTestNumber}}</td>
    <td class="text-center"></td>
    <td class="text-center" style="width: 20%">
      <div>
        <fa-icon [icon]="icons.faInfo" (click)="showContent(test?.Id)" title="Show Test"></fa-icon> |
        <fa-icon [icon]="icons.faTrash" (click)="deleteTest()" title="Delete Test"></fa-icon> |
        <fa-icon [icon]="icons.faList" (click)="testDetails(test)" title="See ExTests"></fa-icon> |
        <fa-icon [icon]="icons.faMailForward" (click)="showEmailModalMethod(test.Id)" title="Send Mail"></fa-icon>
      </div>
    </td>
  </tr>
</table>

<div class="text-center">
  <fa-icon *ngIf="pageNum > 1" [icon]="icons.faAngleDoubleLeft" class="pointer" style="margin-right: 5px;" (click)="firstPage()" title="First"></fa-icon>
  <fa-icon *ngIf="pageNum > 1" [icon]="icons.faArrowLeft" (click)="previousPage()" class="pointer" style="margin-right: 5px;" title="Previous"></fa-icon>
  <strong><label>{{pageNum}} of {{pages}}</label></strong>
  <fa-icon *ngIf="pageNum < pages" class="pointer" [icon]="icons.faArrowRight" (click)="NextPage()" style="margin-left: 5px;" title="Next"></fa-icon>
  <fa-icon *ngIf="pageNum < pages" [icon]="icons.faAngleDoubleRight" class="pointer" (click)="lastPage()" title="Last" style="margin-left: 5px;"></fa-icon>
</div>
