.title {
  float: left;
  margin-right: 3%;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 100%;
}
.create-test-a{
  float: left;
}
.actions:hover{
  color: darkblue;
  cursor: pointer;

}

.actions{
  color: #0069D9;
  font-size: 1.2em;
}
#saveTestNotify {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #fde073;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}
#dialognotify {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #fde073;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

th, td {
  text-align: left;
  padding: 10px;
  overflow-wrap: break-spaces;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.pageTitle:before{
  content: "";
  position: absolute;
  top: calc(50% - 6px);
  left: 0;
  right: 0;
  height: 12px;
  background: #a3b8d8;
  z-index: -1;
  opacity: 30%;
}

.pageTitle h1{
  background: white;
  padding: 0 15px;
  margin-left: 20px;
}

#pageTitle{
  background: -webkit-linear-gradient(#9ee4ff, #3404ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Segoe UI Black';

}
