<div class="row">
  <div class="col-6">
    <div class="title">
      <h1 style="font-family: 'Segoe UI Black'; color: #2f00fc">Test List</h1>
    </div>
  </div>
  <div class="col-6" style="text-align: right">
    <form #form="ngForm">
      <div class="btn btn-group">
        <input type="search" [ngModel]="textFilter" name="textFilter" class="form-control">
        <span class="glyphicon glyphicon-remove-circle"></span>
        <div *ngIf="errorFetch" style="color:red;" class="alert alert-danger">Nessun test trovato</div>
        <button type="submit" class="btn btn-primary" (click)="search(form)">Search</button>
      </div>
    </form>
  </div>
</div>
<div class="alert alert-danger" *ngIf="showDeleteError" >
  <strong>Errore!</strong> An error occurred while deleting the test
  <button type="button" class="close" aria-label="Close" (click)="closeErrorAlert()">&times;</button>
</div>
<div *ngIf="this.copydialog" id="dialognotify">
  The link is copied!&nbsp;
  <i class="fa fa-times" (click)="undo()"></i>
</div>
<br>
<br>
<table class="table-borderless weather__card">
  <tr>
    <th class="text-center">Title</th>
    <th class="text-center">Date</th>
    <th class="text-center" *ngIf="isEmpty">Number of tests</th>
    <th class="text-center" *ngIf="isEmpty">Number of tests opened</th>
    <th class="text-center"></th>
    <th class="text-center">Actions</th>
  </tr>

  <tr *ngFor="let test of tests | filter:textFilter" class="content-wrapper">
    <div *ngIf="this.areThereModifies" id="saveTestNotify">Do you want to save changes?&nbsp;&nbsp;
      <button class="btn btn-outline-success btn-sm" (click)="saveChanges()">Save</button>&nbsp;&nbsp;
      <button class="btn btn-outline-danger btn-sm" (click)="undo()">Undo</button>
    </div>
    <td class="text-center">{{test.Title}}</td>
    <td class="text-center">{{test.Date | date: 'dd/MM/yy H:mm'}}</td>
    <td class="text-center">{{test.NumberOfExTest}}</td>
    <td class="text-center">{{test.OpenedExTestNumber}}</td>
    <td class="text-center"></td>

    <!--Icons-->
    <td class="text-center tdIcon" style="width: 20%">
      <div class="row">

        <div class="col-sm">
          <div> <fa-icon class="actions" [icon]="icons.faInfo" (click)="showContent(test?.Id)" title="Show Test"></fa-icon> </div>
          <div> <fa-icon class="actions" [icon]="icons.faTrash" (click)="deleteTest(test)" title="Delete Test"></fa-icon> </div>
        </div>

        <div class="col-sm">
          <div> <fa-icon class="actions" [icon]="icons.faCopy" (click)="copytoClipboard(test.URL)" title="Copy Link" ></fa-icon> </div>
          <div> <fa-icon class="actions" [icon]="icons.faMailForward" (click)="showEmailModalMethod(test.Id)" title="Send Mail"></fa-icon> </div>
        </div>

        <div class="col-sm">
          <div> <fa-icon class="actions" [icon]="icons.faList" (click)="testDetails(test)" title="See ExTests" style="font-size: 1.8em"></fa-icon></div>
        </div>

      </div>
    </td>
  </tr>
</table>
