<form [formGroup]="orderForm">
  
  <label>
    Question text:
    <input type="text" formControlName="questionText">
  </label>

  <div class="form-group row">
    <div class="col-6">
      <strong><label>Answers:</label></strong>
    </div>
    <div class="col-6 add-answer">
    </div>
    <button (click)="addEmptyAnswer()">+</button>
    <div formArrayName="answers">
      <div *ngFor="let ans of answers.controls; let i = index" [formGroupName]="i">
        <p>Id :
          <input formControlName="Id">
        </p>
        <p>Text :
          <input formControlName="Text">
        </p>
        <p>Score :
          <input formControlName="Score">
        </p>
    </div>
  </div>
  </div>
  <p>
    <button>Save</button>
  </p>
</form>