<div class="container" style="width: 100%;">
  <div class="row" style="width: 100%">
    <div class="col-8" style="background-color: white; text-align: center; width: 60%">
      <div style="text-align: center;padding-top: 120px">
          <img src="assets/img/assestmentImage.png" width="100%" style="max-width: 700px"/>
      </div>
      <div style="text-align: center">
        <img src="assets/img/UnikeyLogo.png" width="100%" style="max-width: 100px"/>
      </div>
    </div>


    <div class="loginform" >
      <div style="text-align: center">
          <h1 class="heading-correct-pronounciation" style="">
            <em>Welcome</em>
          </h1>
      <br />
        <br>
      <div *ngIf="isVisible" id="signingForm" class="loginformtext">
        <app-login (switch)="setVisible()"></app-login>
      </div>
      <div *ngIf="!isVisible" id="signingUpForm" class="loginformtext">
        <app-subscribe (switch)="setVisible()"></app-subscribe>
      </div>
    </div>
  </div>
</div>

