<div class="container" style="height: 100%; width: 100%">
  <div class="row" style="height: 100%; padding-top: 30px;">

    <div class="col-8" style="background-color: white;">
      <div style="text-align: center;padding-top: 80px">
          <img src="assets/img/assestmentImage.png"/>
      </div>


      <br />

      <div style="text-align: center">
        <img src="assets/img/UnikeyLogo.png"/>
      </div>
    </div>

    <div class="col-4" style="padding-top: 5%;padding-bottom: 7%; background-color: blue">
      <div style="text-align: center">
        <h2 style="color: aliceblue">Welcome</h2>
      </div>
      <br />
      <div id="signingUpForm" class="container" style="display: block;padding: 15px; border: 2px solid black; border-radius: 10px; background-color: antiquewhite">
        <app-subscribe></app-subscribe>
      </div>
    </div>
  </div>
</div>
