<div class="row">
  <div class="col-6">
    <div class="title">
      <h1 style="font-family: 'Segoe UI Black'; color:#2f00fc">ExTest List</h1>
    </div>
  </div>
  <div class="col-6" style="text-align: right">
    <form #form="ngForm" style="margin-bottom: 10px;" >
      <div class="btn btn-group">
        <input type="search" [ngModel]="textFilter" name="textFilter" class="form-control">
        <span class="glyphicon glyphicon-remove-circle"></span>
        <button type="submit" class="btn btn-primary" (click)="search(form)">Search</button>
      </div>
    </form>
  </div>
  </div>
  <br>
  <table class="table">
    <tr>
        <th class="text-center">Test Subject</th>
        <th class="text-center">Test Title</th>
        <th class="text-center">Date</th>
        <th class="text-center">Score/Max</th>
      <th class="text-center">Actions</th>
    </tr>
    <tr *ngFor="let test of tests | filter:textFilter">
    <td class="text-center">{{test.TestSubject}}</td>
    <td class="text-center">{{test.Title}}</td>
      <td class="text-center">{{test.Date | date: 'dd/MM/yy H:mm'}}</td>
      <td class="text-center">{{test.MaxScore}}/{{test.Score}}</td>
      <td class="text-center" style="width: 20%">
        <div>
          <fa-icon class="pointer" [icon]="icons.faInfo" (click)="seeExTest(test.Id)" ></fa-icon>
        </div>
      </td>
    </tr>
  </table>
