.main-div {
    display: flex;
  }
  .title {
    float: left;
  }
  .pointer:hover {
    cursor: pointer;
    color: darkblue;
  }

  .pointer{
    color: #0069D9;
    font-size: 1.2em;
  }
th, td {
  text-align: left;
  padding: 1px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
