<div class="main-div" style="text-align: center">
  <div class="title">
    <h4 class="display-4 lead">{{'Test: ' + exTest.Title}}</h4>
  </div>
  <hr>
</div>
<div class="jumbotron jumbotron-fluid" style="text-align: center; align-content: center" >
  <div class="container">
    <h4 class="display-4 lead">Ciao {{exTest.TestSubject}}, grazie per aver ultimato il test!</h4>
    <hr>
    <h4>Hai iniziato il tuo test alle: {{this.exTest.Date | date: "HH:mm:ss"}}</h4>
    <h4>Tempo di esecuzione: {{this.timer() | date: "HH:mm:ss"}}</h4>
    <h4>Hai ottenuto il {{percentage()}}% delle risposte esatte!</h4>
  </div>
</div>
