@model Presentazione.Models.UsersListModel

@{
    ViewBag.Title = "UsersList";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>Users</h2>
<br>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Username
        </th>
        <th>
            Password
        </th>
        <th>
            Email
        </th>
        <th>
            <button class="btn btn-success" onclick="location.href='Registration'"><i class="fa fa-plus"></i></button>
        </th>
    </tr>

@foreach (var item in Model.UsersList) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Username)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Password)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @using (Html.BeginForm("Delete", "User", FormMethod.Post))
        {
            <input type="hidden" name="ID" value=@item.ID />
            <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
        }
    </td>
</tr>
}

</table>
