<br>
<br>
<div class="container h-100" style="">
    <div class="d-flex justify-content-center h-100">
        <div class="user_cardd">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="assets\img\Unikey.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">

                <form #form="ngForm">
                    <div class="mb-3" class="welcomeMessage" style="padding-bottom: 40px;">Welcome</div>
                    <div style="margin-bottom: 20px;">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text">F</span>
                            </div>
                            <input type="text" name="firstName" [class]="firstNameRef.errors && (firstNameRef.dirty || firstNameRef.touched) ?
                        'form-control input_user inputError' : 'form-control input_user'" value=""
                                placeholder="First name" #firstNameRef="ngModel" required pattern="\S{1,}" ngModel>
                        </div>
                        <div *ngIf="firstNameRef.errors && (firstNameRef.dirty || firstNameRef.touched)">
                            <span class="error" style="color: red">{{firstNameRef.name}} is required</span>
                        </div>
                    </div>

                    <div style="margin-bottom: 30px;">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text">L</span>
                            </div>
                            <input type="text" name="lastName" [class]="lastNameRef.errors && (lastNameRef.dirty || lastNameRef.touched) ?
                        'form-control input_user inputError' : 'form-control input_user'" value=""
                                placeholder="First name" #lastNameRef="ngModel" required pattern="\S{1,}" ngModel>
                        </div>
                        <div *ngIf="lastNameRef.errors && (lastNameRef.dirty || lastNameRef.touched)">
                            <span class="error" style="color: red">{{lastNameRef.name}} is required</span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="submit" name="button" [disabled]="form.invalid"
                            (click)="toggleFirstQuestion(form.value)" class="btn login_btn">Begin test</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
