@model UnikeyFactoryTest.Presentation.Models.AdministratedTestModel
<div class="container">
    @{
        if (Model.Test != null)
        {
            if (Model.Test.AdministratedQuestions != null)
            {
                foreach (var question in Model.Test.AdministratedQuestions)
                {
                    <div class="QuestionContainer">
                        @{
                            if (String.IsNullOrEmpty(question.Text) != true)
                            {
                                <label id="Question">
                                    @question.Text
                                </label>
                            }
                            <div class="AnswerContainer">
                                @{
                                    foreach (var answer in question.AdministratedAnswers)
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="AnswerRadio" value="@answer.Text">
                                            <label class="form-check-label">
                                                @answer.Text
                                            </label>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>
                }
            }
        }
    }
</div>

