@model UnikeyFactoryTest.Presentation.Models.AdministratedTestModel
<div class="container">
    <form action="/AdministratedTest/BeginTest" method="post">
        <input type="text" name="Name" placeholder="Your name..." />
        <input type="text" name="Surname" placeholder="Your surname..." />
        <button class="btn btn-primary">Begin</button>
    </form>
</div>